/*
 * @Author: houjianan 
 * @Date: 2020-11-23 17:54:17 
 * @Last Modified by: houjianan
 * @Last Modified time: 2020-11-23 18:03:46
 */

 .star-score .star {
     width: 0.266667rem;
     height: 0.266667rem;
     float: left;
     background-size: cover;
 }
 
 .star-score .fullstar {
    background-image: url('./img/fullstar.png');
 }
 .star-score .halfstar {
    background-image: url('./img/halfstar.png');
}
.star-score .nullstar {
    background-image: url('./img/gray-star.png');
}